<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Booker復習</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="title">
        <p>Bookers</p>
      </div>
      <nav>
        <p>Home</p>
        <p>About</p>
        <p>sign up</p>
        <p>login</p>
        <%= link_to "log out", destroy_user_session_path, method: :delete %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
